{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="text-capitalize text-center">Admin Login</h1>
        <center>
            <form method="post">
                {% csrf_token %}
                <div class="form-group col-md-6">
                    <label for="admin" class="text-capitalize" style="font-weight: bold">Admin Name</label>
                    <input type="text" class="form-control text-center text-capitalize" id="admin" name="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputPassword1" class="text-capitalize"
                           style="font-weight: bold">Password</label>
                    <input type="password" class="form-control text-center" id="exampleInputPassword1" name="password">
                </div>

                <button type="submit" class="btn btn-primary col-md-3" style="border-radius: 70px">Login</button>
            </form>
        </center>
    </div>

    {% ifequal error "no" %}
        <script>
            alert('Admin, you are now loged-In Now!')
            window.location('/')
        </script>
    {% endifequal %}

    {% ifequal error "yes" %}
        <script>
            alert('Invalid login credential, try again!')
            window.location('/')
        </script>
    {% endifequal %}
{% endblock content %}