{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <br><br>
        <h2 class="text-capitalize text-center mt-5">view Appointment</h2>
        <div class="row text-center justify-content-center" style="margin-top: 6rem;">
        <div class="col-auto">
            <table class=" table table-hover table-dark text-danger" id="example" style="border-radius: 4px">
                <thead>
                <tr class="text-white">
                    <th scope="col">Appointment ID</th>
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in appoint %}
                <tr class="text-capitalize">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ i.doctor }}</td>
                    <th>{{ i.patient }}</th>
                    <td>{{ i.date1 }}</td>
                    <td>{{ i.time1 }}</td>
                    <td><a class="btn btn-danger" href="/delete_appointment/{{ i.pk }}" onclick="return confirm('Are you sure')">Delete</a> </td>



                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>

{% endblock content %}